<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>K-Rest</title>
</head>
<body>
  <header>
    <div class="title">
      <h1><span class="title-span">K</span>-Restaurant</h1>
    </div>
  </header>
  <a href="#main" class="skip-link">Skip to content</a>
  <div class="hamburger-container">
    <button href="#" id="hamburger">☰</button>
  </div>
  <div id="drawer" class="nav-list">
    <div class="nav-item">
      <a href="">Home</a>
    </div>
    <div class="nav-item">
      <a href="">Favorite</a>
    </div>
    <div class="nav-item">
      <a href="https://id.linkedin.com/in/kurnia-kharisma-agung-samiadjie-88b54a224">About Us</a>
    </div>
  </div>
  <div class="hero">
    <div class="hero-content-container">
      <h2 class="hero-title">An Online Restaurant Guide That Helps You Find The Best Food and Place to Eat</h2>
      <Button class="cta" onclick="location.href='#main'">
        Let's Find Out
      </Button>
    </div>
  </div>
  <main id="main">
    <section class="content">
      <div class="section-container-title">
        <h2 class="main-headline">Restaurants Lists</h2>
      </div>
      <div id="restaurant-list"></div>
    </section>
    <section class="content">
      <div class="section-container-title">
        <h2 class="main-headline">Foods Lists</h2>
      </div>
      <div id="restaurant-list"></div>
    </section>
  </main>
  <footer>
    <div class="copyright">
      <p>Copyright © 2023 - K-Restaurant</p>
    </div>
  </footer>
</body>
</html>
