<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#00C2CB"/>
  <meta name="description" content="An Online Restaurant Guide That Helps You Find The Best Food and Place to Eat">
  <title>Yoomy</title>
  <style>
    html, body{
      min-height: 100vh;
      background-color: #F9F7F7;
      color: rgb(62, 65, 73);
      max-height: 100%;
    }
  </style>
  <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <script defer src="https://kit.fontawesome.com/5306523221.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <a href="#main-content" class="skip-link" tabindex="0">Skip to content</a>
    <nav class="nav-bar wrapper">
      <div class="title">
        <a href="#" aria-label="Yoomy logo to go to homepage"><img class="nav-bar-logo" src="./images/icons/icon-500x500.png" alt="Yoomy logo image" width="80px" height="80px"></a>
      </div>
      <div class="hamburger-container">
        <button href="#" id="hamburger">☰</button>
      </div>
      <ul id="drawer" class="nav-list">
        <li>
          <a href="/" class="nav-item">Home</a>
        </li>
        <li>
          <a href="#/catalogue" class="nav-item">Catalogue</a>
        </li>
        <li>
          <a href="#/favorite" class="nav-item">Favorite</a>
        </li>
        <li>
          <a class="nav-item" href="https://id.linkedin.com/in/kurnia-kharisma-agung-samiadjie-88b54a224">About Us</a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="main"></main>
  <footer>
    <div class="copyright wrapper">
      <p>Copyright © 2023 - Yoomy</p>
    </div>
  </footer>
</body>
</html>
