@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root{
  --base: white;
  --text: #2C3333;
  --drawer: #e5e5e5;
  --complementary: #00c2cb;
  --save-complementary: #028080;
  /*   
  --primary: #2C3333;
  --secondary: #395B64;
  --tertiary: #A5C9CA;
  --quaternary: #E7F6F2; */
}

*{
  padding: 0;
  margin: 0;
  color: var(--text);
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  scroll-margin-top: 160px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Epilogue', sans-serif;
}

main{
  min-height: 100vh;
}

a, button, input, textarea{
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
}

p{
  font-size: 16px;
  font-weight: 400;
  color: #6c7070;
}

img {
  display: block;
}

header{
  z-index: 999;
  position: fixed;
  display: flex;
  height: 100px;
  justify-content: center;
  background: var(--base);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
}

.wrapper{
  width: 90%;
  align-self: center;
  margin: auto;
}

.tw{
  font-family: 'Tilt Warp', sans-serif, cursive;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
  color: white;
}

.title h1{
  font-size: 1.5rem;
}

.title-span{
  color: aquamarine;
}

.skip-link{
  position: absolute;
  color: var(--base);
  padding: 12px;
  background: var(--complementary);
  z-index: 3;
  top: -50px;
}

.skip-link:focus{
  top: 0%;
}

.nav-bar-logo{
  width: 80px;
}

.hamburger-container{
  display: flex;
  justify-content: center;
}

#hamburger{
  border: none;
  min-height: 44px;
  min-width: 44px;
  background: transparent;
  font-size: 36px;
  font-weight: bold;
  color: var(--save-complementary);
}

#drawer{
  width: 100%;
  background-color: var(--drawer);
  position: absolute;
  top: 99px;
  left: -100%;
  z-index: 999;
}

#drawer.open{
  transform: translate(0, 0);
  top: 99px;
  left: 0px;
}

#drawer li{
  border-bottom: 1px solid slategray;
  padding: 1.25rem 1rem;
}

.nav-list{
  color: white;
}

.nav-list:nth-child(odd){
  background-color: rgb(68, 79, 90);
}

.nav-list:nth-child(even){
  background-color: var(--secondary);
}

.nav-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Tilt Warp', sans-serif, cursive;
  color: var(--save-complementary);
}

.nav-item:hover{
  color: var(--complementary);
  text-decoration: underline;
}

.hero{
  width: 100%;
  height: 25vh;
  max-height: 600px;
  position: relative;
  background-blend-mode: darken;
  padding: 3rem 2rem;
}

.home{
  display: flex;
  justify-content: center;
  background: linear-gradient(150deg,rgba(27,27,27,.5),rgba(27,27,27,.5)), url('../public/images/heros/hero-image_4-small.jpg') no-repeat 50%;
  height: 70vh;
}

.catalogue{
  background: linear-gradient(150deg,rgba(27,27,27,.5),rgba(27,27,27,.5)), url('../public/images/heros/hero-image_1-small.jpg') no-repeat 50%;
}

.favorite{
  background: linear-gradient(150deg,rgba(27,27,27,.5),rgba(27,27,27,.5)), url('../public/images/heros/hero-image_2-small.jpg') no-repeat 50%;
}

.small{
  display: flex;
  text-align: center;
  justify-content: center;
  background-size: cover;
}

.hero{
  background-size: cover;
}

.hero-content-container{
  flex-direction: column;
  height: auto;
}

.hero-title{
  font-size: 2rem;
  color: white;
  margin: auto;
}

.cta{
  margin-top: 40px;
  background-color: var(--complementary);;
  padding: 16px;
  color: var(--base);
  font-weight: 700;
  font-size: 16px;
  min-height: 44px;
  min-width: 44px;
  border-radius: 5px;
  border: none;
  width: fit-content;
}

/* End of Hero Section */

.content{
  margin: 60px 0;
}

/* Main */
#main{
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

#main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blur{
  filter: blur(2px);
}

.section-container-title{
  margin: auto;
  width: 80%;
  align-self: center;
}

.headline{
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 4px;
  font-size: 24px;
  width: 100%;
  font-family: 'Tilt Warp', sans-serif, cursive;
  letter-spacing: .4px;
}

.xl-headline{
  font-size: 36px;
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 1.5rem;
  gap: 1.5rem;
}

.empty{
  display: block;
  text-align: center;
}

/* End of Main Section */

/* Intro */
.intro.list{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 0;
  margin-top: 2rem;
}

.intro-item{
  text-align: center;
}


.intro-heading{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-size: 40px;
}

.intro-heading > h3{
  font-family: 'Tilt Warp', sans-serif, cursive;
}

.intro-heading h3, .intro-heading i{
  color: var(--save-complementary);
}

.icon{
  font-size: 36px;
  position: relative;
  top: 12px;
}

.first-icon{
  font-size: 35px;
}

.intro-item > p{
  font-size: 24px;
  font-weight: 500;
}

/* End of Intro Section */

/* Featured main */
.container-content{
  margin-top: 40px;
}

.container-content:first-child{
  margin-top: 0;
}
.featured-content{
  margin-bottom: 0;
}

.featured.main{
  background-color: #edeef3;
  height: 100%;
}

.rounded-corner{
  height: 50px;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  background: #edeef3;
}

/* Favorite */
.fav-restaurant{
  justify-content: center;
  /* text-align: center; */
  min-height: 40vh;
}

.fav-food{
  justify-content: center;
  min-height: 40vh;
  margin-top: 2.25rem;
}

.fav-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.fav-list .article-item{
  max-width: 450px;
}


/* Container */
#container{
  margin: 2rem;
  width: 80%;
  align-self: center;
}

#container img{
  width: 100%;
  max-height: 100%;
}

footer{
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 2rem 1rem;
  background-color: var(--text);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.copyright{
  color: var(--complementary);
  text-align: center;
}

.copyright>p{
  font-weight: 700;
  color: var(--quaternary);
}

/* Error Request */
.error-request{
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* Skeleton */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  width: 100%;
}

.skeleton-text{
  width: 100%;
  height: 1rem;
}

.categories-content.skeleton{
  gap: 1rem;
  animation: none;
  margin: 1rem 0 0.5rem 0;
}

.rating.skeleton-text{
  width: 30%;
}

.skeleton-description{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.skeleton-text.last{
  width: 80%;
}

.see-more p{
  width: 30%;
  height: 1rem;
  margin-top: 0.875rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
