@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root{
  --primary: #2C3333;
  --secondary: #395B64;
  --tertiary: #A5C9CA;
  --quaternary: #E7F6F2;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F9F7F7;
  color: rgb(62, 65, 73);
}

a{
  color: white;
  justify-content: center;
  min-height: 44px;
  min-width: 44px;
}

p{
  font-size: 16px;
  font-weight: 400;
}

img {
  display: block;
}

header{
  display: flex;
  justify-content: center;
  padding: 10px;
  background: var(--primary);
  color: white;
}

.title-span{
  color: aquamarine;
}

.skip-link{
  position: absolute;
  padding: 12px;
  background: aquamarine;
  z-index: 100;
  top: -50px;
}

.skip-link:focus{
  top: 0%;
}

.hamburger-container{
  display: flex;
  background-color: var(--secondary);
  justify-content: center;
  padding: 10px;
}

#hamburger{
  border: none;
  min-height: 44px;
  min-width: 44px;
  background: transparent;
  color: white;
}

#drawer{
  width: 100%;
  background-color: var(--primary);
  position: absolute;
  transform: translate(-100%, 0);
  transition: 0.3s ease-in;
  z-index: 999;
}

.nav-list{
  color: white;
}

.nav-list:nth-child(odd){
  background-color: rgb(68, 79, 90);
}

.nav-list:nth-child(even){
  background-color: var(--secondary);
}

#drawer.open{
  transform: translate(0, 0);
}

.nav-item{
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.nav-item>a{
  text-align: center;
  justify-content: center;
}

.hero{
  background-image: url('../public/images/heros/hero-image_4.jpg');
  width: 100%;
  position: relative;
  height: 90vh;
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  padding: 24px;
}

.hero-content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.hero-title{
  background: var(--secondary);
  border-radius: 5px;
  color: white;
  margin: auto;
}

.cta{
  margin-top: 40px;
  background-color: var(--tertiary);;
  padding: 8px 16px;
  color: var(--primary);
  font-weight: 700;
  min-height: 44px;
  min-width: 44px;
  border-radius: 5px;
  border: none;
  width: fit-content;
}

#main{
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
}

.section-container-title{
  margin: auto;
  width: 50%;
}

.main-headline{
  text-align: center;
  border-bottom: 2px solid var(--tertiary);
  margin: 12px 0;
}

.list{
  display: grid;
  padding: 24px;
  gap: 24px;
}

.article-item{
  margin: auto;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.article-item>img{
  width: 100%;
}

.article-content{
  padding: 20px;
}

.article-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 18px;
  justify-content:left;
  font-weight: 700;
  min-height: 44px;
  min-width: 44px;
}

.article-content>h4{
  font-size: 16px;
  font-weight: 500;
}

.article-content>h5{
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 500;
}

.article-content>p{
  font-size: 14px;
  font-weight: 400;
}

/* Container */

#container{
  margin: 2rem;
  width: 70%;
  align-self: center;
  /* max-height: 500px;
  max-width: 500px; */
}

#container img{
  width: 100%;
  max-height: 100%;
}

footer{
  position: relative;
  height: 100px;
  background-color: var(--primary);;
}

.copyright{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright>p{
  font-weight: 700;
  color: var(--quaternary);
}

/* Error Request */
.error-request{
  display: flex;
  justify-content: center;
  height: 100vh;
}

@media screen and (min-width: 480px){
  .hamburger-container{
    display: none;
  }

  #drawer{
    position: relative;
    display: flex;
    background-color: var(--secondary);
    justify-content: space-evenly;
    transform: translate(0, 0);
    transition: none;
  }

  .nav-item{
    margin: 0;
  }

  .list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 720px) {
  .list{
    grid-template-columns: repeat(3, 1fr);
  }

  #container{
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .hero{
    min-width: 1000px;
  }
}
