
@media screen and (min-width: 760px) {
  #hamburger{
    display: none;
  }

  #drawer{
    position: relative;
    width: clamp(40%, 100%, 450px);
    display: flex;
    background-color: transparent;
    top: 0;
    left: 0;
    justify-content: space-between;
    transition: none;
  }

  #drawer li{
    border: none;
    padding: 0;
  }

  .nav-item{
    font-size: 16px;
    margin: 0;
  }

  .nav-item:hover{
    background: transparent;
    color: var(--complementary);
  }

  .nav-bar-logo{
    width: 100px;
    height: 100px;
  }

  .list{
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .favorite{
    background: linear-gradient(150deg,rgba(27,27,27,.5),rgba(27,27,27,.5)), url('../public/images/heros/hero-image_2-large.jpg') no-repeat 50%;
    background-size: cover;
  }

  .home{
    background: linear-gradient(150deg,rgba(27,27,27,.5),rgba(27,27,27,.5)), url('../public/images/heros/hero-image_4-large.jpg') no-repeat 50%;
    background-size: cover;
  }

  .catalogue{
    background: linear-gradient(150deg,rgba(27,27,27,.5),rgba(27,27,27,.5)), url('../public/images/heros/hero-image_1-large.jpg') no-repeat 50%;
    background-size: cover;
  }

  .intro.list{
    flex-direction: row;
    padding-bottom: 1.5rem;
  }

  .rounded-corner{
    border-top-right-radius: 16rem;
    border-top-left-radius: 16rem;
  }

  .img-container.detailed{
    height: 250px;
  }

  .content{
    margin: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  #drawer{
    width: clamp(40%, 100%, 500px);
  }
  .hero{
    min-width: 1000px;
  }

  .title > h1, .hero-title{
    font-size: 40px;
  }

  .nav-item{
    font-size: 20px;
  }

  .testi-item-container{
    grid-auto-columns: 49.2%;
    max-width: 1000px;
  }

  .testi-card{
    scroll-snap-align: end;
  }
}
